/* Стили для списка товаров */
#product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Стили для каждого товара */
.product {
  align-items: center;
  display: flex;
  flex-direction: row;  

  width: 600px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стили для изображения товара */
.product img {
  width: 100%;
  height: unset;
  flex: 0 0 auto;
  margin-right: 10px;
  max-width: 200px; 
  max-height: 141px; 
  object-fit: cover; 
  display: block;
  margin: 0 auto; 
}



/* Стили для названия товара */
.product .name {
  font-weight: bold;
  margin: 0 auto;
}

/* Стили для цены товара */
.product .price {
  margin: 0 auto;
}
/* Стили для кнопок заказа и добавления в корзину */
.product button {
  flex-direction: column;
  margin-left: 10px;
  order: 2;
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 0px;
  cursor: pointer;
}

.order-button {
  background-color: rgb(71, 5, 78) !important; /* Бордовый (красный) фон кнопки */
  color: white !important; /* Белый текст кнопки */
}



/* Стили для попапа заказа */
.order-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-popup > h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.order-popup > img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-bottom: 10px;
}

.order-popup > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.order-popup > div > span {
  font-size: 18px;
  font-weight: bold;
}

.order-popup > textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.order-popup > input[type=text] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.order-popup > button {
  width: 100%;
  height: 40px;
  background-color: #ff6a00;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-popup > button:hover {
  background-color: #520637;
}

/* Стили для попапа с уведомлением об успешном добавлении в корзину */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup h3 {
  margin-top: 0;
}

.popup img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.popup textarea,
.popup input[type="text"] {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.popup button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.popup div {
  margin-top: 10px;
}


.popup .message {
  font-size: 18px;
  font-weight: bold;
}

.popup .product-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup .product-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.popup .product-info .name {
  font-size: 16px;
  font-weight: bold;
}

.popup .product-info .price {
  font-size: 14px;
  color: #777777;
}
